<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{title}} </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
            </div>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="https://t.me/timemanagmmentBot" target="_blank" class="nav-link px-2">Telegram</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <a href="/leave" type="button" class="btn btn-outline-primary me-2">Leave</a>
                <a href="/delete_acc" type="button" class="btn btn-primary">Delete Acc</a>
            </div>
        </header>
    </div>
<div id="first">
    <h1>Мои планы</h1>
    <form action="/add" method="post">
        <input type="text" name="title" placeholder="Введите название плана" required value=""><br>
        <button class="button1" type="submit">Добавить</button>
    </form>
    <br><br>
    <table>
        <tbody>
            {% for todo in todo_list %}
                {% if todo.connection == id_log %}
                    <tr>
                        <td class="thick">{{todo.id}}</td>
                        <td class="thick">{{todo.title}}</td>
                        {% if todo.is_finished == False %}
                        <td><label class="label pending">Не готово</label></td>
                        {% else %}
                        <td><label class="label done">Готово</label></td>
                        {% endif %}
                        <td><a href="/update/{{ todo.id }}" class="button2">Изменить статус</a></td>
                        <td><a href="/delete/{{ todo.id }}" class="button3">Удалить</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>